body{
    margin: 0;
}
@media only screen and (min-width: 481px) {
    
    span {
      display: none; }
    nav {
      
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      background-color: #1a434e;
      position: fixed;
      height: 100vh;
      justify-content: space-around;
      align-items: center; }
      nav .easterEgg {
        font-family: 'Parisienne', cursive;
        transform: rotate(-90deg);
        color: #fce1cb; }
      nav .navBar {
        padding: 0%;
        margin-top: 60px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%; }
        nav .navBar .navItem {
          width: 48px;
          transition: 1s; }
        nav .navBar .navItem :hover {
          transition: scale 1.2; }
        }